body {
  font-family: 'Roboto', sans-serif !important;
  background-color: papayawhip;
}

html,
body,
#elm-container {
  height: 100%;
}

.material-icons {
  user-select: none;
}

.translateY-100 {
  transform: translateX(100%);
}

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__button {
  margin-bottom: 4rem;
  text-decoration: none;
  color: palevioletred;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  margin-top: 1.2rem;
}

.logout {
  font-size: 2.4rem;
  margin-right: 0.8rem;
}

.checklist-item {
  color: palevioletred;
  font-size: 1.2rem;
  padding: 1rem;
  border-bottom: 1px solid palevioletred;
}

.checklist-item:last-child {
  border-bottom: none;
}

.back-button {
  font-size: 2.4rem;
  padding-top: 0rem;
  color: white;
  cursor: pointer;
}

.checkbox-error {
  margin-top: 2rem;
  color: palevioletred;
  font-size: 1.2rem;
  text-align: center;
}

.checketlist-header__title--centered {
  text-align: center;
}

.checklist-header {
  padding: 1.2rem 0.5rem 1rem 0.25rem;
  color: white;
  border-bottom: 1px solid palevioletred;
  background-color: palevioletred;
}

.checklist-header__wrap {
  max-width: 40rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.checklist-header__title {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  color: white;
  font-size: 1.7rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checklist-header__form input[type='text'] {
  background: transparent;
}

.checklist-header__form {
  flex-grow: 1;
}

.checklist-header__input {
  flex-grow: 1;
  font-size: 1.7rem;
  width: 100%;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'Roboto', sans-serif !important;
}

.checklist-header__button {
  margin-left: 0.1rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}

.create-item__button {
  font-size: 2rem;
  padding: 1rem;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.pointer {
  cursor: pointer;
}

.checkbox__control {
  position: relative;
}

.button--rounded {
  border-radius: 50%;
  font-size: 1.3rem;
  padding: 0.65rem;
  background-color: palevioletred;
  color: white;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  position: relative;
}

.button-background {
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 0.65rem;
  position: absolute;
  background-color: rgb(209, 209, 209);
  z-index: 0;
  opacity: 1;
  color: palevioletred;
}

.button--on-animation {
  animation-name: switch;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

.button_checkbox {
  animation-name: button-anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.fade_in {
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.fade_in_fast {
  animation-name: fade-in;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
}

.fade_out {
  animation-name: fade-out;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.swipe_up {
  animation-name: swipe-up;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.swipe_from_up {
  animation-name: swipe-from-up;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.swipe_down {
  animation-name: swipe-down;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.swipe_from_down {
  animation-name: swipe-from-down;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes swipe-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes swipe-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes swipe-from-down {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes swipe-from-up {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes switch {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.4);
    opacity: 0.3;
  }
  99% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes button-anim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(0.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.button--grey {
  background-color: rgb(184, 184, 184);
}

.overflow-none {
  overflow: hidden;
  max-width: 40rem;
  margin: 0 auto;
}

.button--empty {
  background-color: rgb(184, 184, 184);
  color: rgb(184, 184, 184);
}

.button--left-pad {
  margin-left: 1rem;
}

.button--right-pad {
  margin-right: 1rem;
}

.button--pad {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid palevioletred;
  box-sizing: border-box;
}

.checkbox:last-child {
  border-bottom: none;
  margin-bottom: 4rem;
}

.checkbox--text {
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 1rem;
  color: palevioletred;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.checkbox--form {
  flex-grow: 1;
}

.checkbox--input {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: palevioletred;
  border: 1px solid palevioletred;
}

.create-checkbox__input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  color: palevioletred;
  border: none;
  border-bottom: none;
  outline: none;
}

.create-checkbox__input:focus {
  border-bottom: 1px palevioletred solid;
}

.checkbox input[type='text'],
.create-checkbox input[type='text'] {
  background: transparent;
}

.mobile-container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

.animate-right {
  animation: slide-from-right 0.3s ease forwards;
}

.animate-left {
  animation: slide-from-right 0.3s ease forwards;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.create-checkbox {
  max-width: 40rem;
  padding: 1rem;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: papayawhip;
  z-index: 1;
  border-top: 1px solid #cfc1aa;
}

.online-offline {
  font-size: 2.2rem;
  margin-left: 0.8rem;
}

.notes__title {
  position: fixed;
  background-color: papayawhip;
  opacity: 0.9;
  height: 2.5rem;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  border-bottom: 0.01rem solid palevioletred;
}

.notes {
  height: 100%;
}

.notes__text {
  width: 100%;
  padding: 1rem;
  padding-top: 3.5rem;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  height: 98%;
}

.notes-title {
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  color: palevioletred;
  flex-grow: 1;
}

.notes-title__back {
  padding: 0.3rem 0.3rem 0.5rem 0rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  color: palevioletred;
  font-size: 2.2rem;
  margin-left: -0.6rem;
}

.notes-list {
  padding-left: 1rem;
  color: palevioletred;
}

.notes-list__item {
  padding: 0.5rem 3rem 0.5rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 1rem;
}

.notes-list__item:first-child {
  padding-top: 0;
}

.notes-list__form {
  width: 100%;
}

.notes-list__input {
  background-color: transparent;
  border: solid 1px palevioletred;
  color: palevioletred;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.notes-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem 1rem 1rem;
  border-top: 0.01rem solid palevioletred;
}

.notes-list__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-title__add {
  font-size: 1.6rem;
  color: palevioletred;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
}

.notes-title__submit {
  font-size: 2rem;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  border: none;
  background-color: transparent;
  color: palevioletred;
}
