body {
  font-family: 'Roboto', sans-serif !important;
  background-color: papayawhip;
}

html,
body,
#elm-container {
  height: 100%;
}

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__button {
  margin-bottom: 4rem;
  text-decoration: none;
  color: palevioletred;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  margin-top: 1.2rem;
}

.logout {
  font-size: 2.4rem;
  margin-right: 0.8rem;
}

.back-button {
  font-size: 2.4rem;
  padding-top: 0rem;
  color: white;
  cursor: pointer;
}

.checkbox-error {
  margin-top: 2rem;
  color: palevioletred;
  font-size: 1.2rem;
  text-align: center;
}

.checketlist-header__title--centered {
  text-align: center;
  margin-left: 3rem;
}

.checklist-header {
  padding: 1.2rem 0.5rem 1rem 0.25rem;
  color: white;
  border-bottom: 1px solid palevioletred;
  background-color: palevioletred;
}

.checklist-header__wrap {
  max-width: 40rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.checklist-header__title {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  color: white;
  font-size: 1.7rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checklist-header__form input[type='text'] {
  background: transparent;
}

.checklist-header__form {
  flex-grow: 1;
}

.checklist-header__input {
  flex-grow: 1;
  font-size: 1.7rem;
  width: 100%;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'Roboto', sans-serif !important;
}

.checklist-header__button {
  margin-left: 0.1rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.pointer {
  cursor: pointer;
}

.checkbox__control {
  position: relative;
}

.button--rounded {
  border-radius: 50%;
  font-size: 1.3rem;
  padding: 0.65rem;
  background-color: palevioletred;
  color: white;
  cursor: pointer;
  text-align: center;
}

.button-background {
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 0.65rem;
}

.button--on-animation {
  animation-name: switch;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes switch {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.button--grey {
  background-color: rgb(184, 184, 184);
}

.button--empty {
  background-color: rgb(184, 184, 184);
  color: rgb(184, 184, 184);
}

.button--left-pad {
  margin-left: 1rem;
}

.button--right-pad {
  margin-right: 1rem;
}

.button--pad {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid palevioletred;
  box-sizing: border-box;
}

.checkbox:last-child {
  border-bottom: none;
  margin-bottom: 3.5rem;
}

.checkbox--text {
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 1rem;
  color: palevioletred;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.checkbox--form {
  flex-grow: 1;
}

.checkbox--input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  color: palevioletred;
  border: 1px solid palevioletred;
}

.create-checkbox__input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  color: palevioletred;
  border: none;
  border-bottom: 1px palevioletred solid;
}

.checkbox input[type='text'],
.create-checkbox input[type='text'] {
  background: transparent;
}

.mobile-container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

.create-checkbox {
  max-width: 40rem;
  padding: 1rem;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: papayawhip;
}
